OBJECTS
	a: EVP_CIPHER_CTX_new()
	b: EVP_CIPHER_CTX_free(c)
  	c: EVP_EncryptInit_ex()
  	d: EVP_EncryptUpdate()
  	e: EVP_EncryptFinal_ex()
	i: EVP_BytesToKey()
	h: aes_ecb_cipher()

ORDER
	(ab)*
	(cd+ed*)*

CONSTRAINTS
	x1: REPLAY(i:salt)
	x2: REPLAY(c:iv)
	x3: REPLAY(c:key)
	x5: RAND(i:salt)
	x6: RAND(c:key)
	x6: EQ(i:count>1000)

FORBIDDEN
	h
